services:
  - type: web
    name: ct-ce-tests
    env: node
    buildCommand: npm install && npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        generateValue: true
